body {
  background: rgb(203, 203, 203);
  margin: 0;
}
@media (max-width: 768px) {
  .box {
    width: calc(50% - 20px);
  }
}
@media (max-width: 576px) {
  .box {
    width: 100%;
  }
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.a {
  width: 200%;
  height: 100px;
  background-color: lightblue;
  justify-content: flex-start;
}

.b {
  width: 80%;
  height: 800px;
  margin: 10px;
  background-color: rgb(10, 12, 145);
  justify-content: center;
}

.c {
  width: 15%;
  height: 800px;
  margin: 10px;
  background-color: rgb(12, 165, 38);
}