body {
  background: rgb(203, 203, 203);
  margin: 0;
}
@media (max-width: 768px) {
  .box {
    width: calc(50% - 20px);
  }
}
@media (max-width: 576px) {
  .box {
    width: 100%;
  }
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
}


.a {
  width: 200%;
  height: 200px;
  background-color: rgb(202, 174, 14);
  justify-content: flex-start;
}

.b {
  width: 80%;
  height: 550px;
  margin: 10px;
  background-color: rgb(0, 0, 8);
  justify-content: center;
}

.c {
  width: 15%;
  height: 700px;
  margin: 10px;
  background-color: rgb(178, 13, 228);
}

.d {
  width: 15%;
  height: 200px;
  margin: 10px;
  background-color: rgb(206, 8, 67);
}

.e {
  width: 15%;
  height: 200px;
  margin: 10px;
  background-color: rgb(206, 8, 67);
}

.f {
  width: 15%;
  height: 200px;
  margin: 10px;
  background-color: rgb(206, 8, 67);
}


.d, .e, .f {
  width: 20%;
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}
